.navbar {
  background: #000;
  display: flex;
  color: beige;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
